<div class="container">
    <div class="row maxheight">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <a href="/" class="d-block p-3 link-dark text-decoration-none zoom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <i class="bi bi-map fs-1" style="color: black;"></i>
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a href="/admin" *ngIf="showAdminBoard" class="nav-link py-3 px-2 zoom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi bi-person-gear fs-1" style="color: black"></i>
                        </a>
                    </li>
                    <li>
                        <a href="user" *ngIf="isLoggedIn" class="nav-link py-3 px-2 zoom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <i class="bi bi-person-circle fs-1" style="color: black"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" *ngIf="isLoggedIn" (click)="logout()" class="nav-link py-3 px-2 zoom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <i class="bi bi-box-arrow-in-left fs-1" style="color: black"></i>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'login'" *ngIf="!isLoggedIn" class="nav-link py-3 px-2 zoom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <i class="bi bi-box-arrow-in-left fs-1" style="color: black"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
